# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints & local state
.ipynb_checkpoints
.virtual_documents
.jupyter

# Virtual Environments
venv/
env/
.conda/
.env

# Large Geospatial Datasets (DO NOT COMMIT SEVERAL GIGABYTES OF DATA)
*.tif
*.tiff
*.zip
*.nc
*.SAFE/
data/
S2_L1C/
OUTarea1/
OUTarea2/
OUT8/
Jul/
Area1/
Area2/

# OS specific files
.DS_Store
Thumbs.db
